.test-block .div-rectangle {
  height: 700px;
  width: 700px;
  background-color: #ddd;
}
.test-block .div-rectangle .circle-area {
  position: relative;
}
.test-block .div-rectangle .circle-area .circle-holder {
  width: 100%;
  padding-top: 100%;
}
.test-block .div-rectangle .circle-area .circle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background-color: #dd00ee;
}
