@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Semibold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Semibold.ttf');
  font-weight: 500;
}
html,
body {
  height: 100%;
  background-color: #fff;
  font-weight: 300;
  font-family: "OpenSans Semibold";
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1;
  font-weight: 300;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}
.container header .top {
  padding: 15px 0;
  margin: 0;
  border-bottom: 5px solid #13aef2;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: left 70%;
}
.container header .top .row {
  margin-bottom: 0;
  height: 37px;
  padding-left: 140px;
}
.container header .top ul.topleft-info {
  list-style: none;
  float: left;
  font-size: 12px;
}
.container header .top ul.topleft-info li {
  display: inline-block;
  margin: 20px 20px 0 0;
  padding: 0;
  font-weight: 300;
}
.container header .top ul.topleft-info li a {
  color: #414141;
}
.container header .top ul.topleft-info li a:hover {
  text-decoration: none;
  outline: 0;
}
.container header .top ul.topleft-info .btn-login a {
  color: #13aef2;
}
.container header .top ul.topleft-info .btn-join {
  padding: 10px;
  with: 100px;
  height: 26px;
  border-radius: 13px;
  color: white;
  font-size: 12px;
  line-height: 0.5;
}
.container header .search {
  padding: 18px 0 0 77px;
  margin: 0;
}
.container header .search .btn-group .btn:last-child {
  padding-left: 40px;
  padding-right: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #13aef2;
  color: white;
}
.container header .search .btn-group .dropdown .btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.container header .search .request-product {
  background: transparent;
  border-radius: 1px;
  border-color: #13aef2;
}
.container .banner .main-slider.flexslider {
  margin: 40px 0 50px;
  background: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.container .banner .main-slider.flexslider .slides li {
  position: relative;
}
.container .banner .main-slider.flexslider .slides li a {
  position: absolute;
  bottom: 5%;
  left: 47%;
  padding: 10px;
  with: 100px;
  height: 26px;
  border-radius: 13px;
  color: #13aef2;
  font-size: 12px;
  line-height: 0.5;
}
.container .banner .main-slider .flex-cation {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, 0, endColorstr=#4C000000, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, 0, endColorstr=#4C000000, 0);
  zoom: 1;
  bottom: 35px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  margin: 0;
  padding: 25px 25px 25px 30px;
  position: absolute;
  right: 0;
  width: 295px;
}
.container .banner .main-slider .flex-cation h3 {
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.container .banner .main-slider .flex-cation p {
  margin: 0 0 15px;
}
.container .banner .main-slider .flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f001';
}
.container .banner .main-slider .flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.container .category-best-products-section {
  margin-top: -10px;
}
.container .category-best-products-section .category-best-products {
  display: block;
}
.container .category-best-products-section .category-best-products .category {
  display: inline-block;
  width: 22.23%;
}
.container .category-best-products-section .category-best-products .category .panel {
  box-shadow: 18px 20px 25px #ededed;
  text-align: left;
  padding-right: 15px;
}
.container .category-best-products-section .category-best-products .category .panel .panel-heading {
  padding: 10px 0px;
}
.container .category-best-products-section .category-best-products .category .panel .panel-heading .glyphicon {
  margin-right: 10px;
  color: #13aef2;
  font-size: 18px;
}
.container .category-best-products-section .category-best-products .category .panel .panel-heading strong {
  font-size: 18px;
  color: #5e5d5d;
}
.container .category-best-products-section .category-best-products .category .panel .panel-heading .see-all {
  color: #13aef2;
  margin-right: 0px;
  font-size: 13px;
}
.container .category-best-products-section .category-best-products .category .panel .panel-body {
  padding: 0px;
}
.container .category-best-products-section .category-best-products .category .panel .panel-body .list-group {
  margin-bottom: 0px;
}
.container .category-best-products-section .category-best-products .category .panel .panel-body .list-group .list-group-item {
  border: 0px;
  border-top: 1px solid #ddd;
  padding: 15px 15px;
  color: #5e5d5d;
}
.container .category-best-products-section .category-best-products .category .panel .panel-body .list-group .list-group-item .glyphicon {
  width: 40px;
}
.container .category-best-products-section .category-best-products .category .panel .panel-body .list-group .list-group-item:first-child {
  border: 0px;
  border-radius: 0px;
  border-top: 3px solid #13aef2;
}
.container .category-best-products-section .category-best-products .category .panel .panel-body .list-group .list-group-item:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.container .category-best-products-section .category-best-products .best-products {
  display: inline-block table;
  width: 75%;
  vertical-align: top;
}
.container .category-best-products-section .category-best-products .best-products .best-products-heading {
  width: 100%;
  padding: 10px 0 10px 0;
  font-weight: bold;
  color: #4d4d50;
  font-size: 19px;
  text-align: left;
  border-bottom: 3px solid #13aef2;
}
.container .category-best-products-section .category-best-products .best-products .best-products-heading .glyphicon {
  width: 35px;
}
.container .category-best-products-section .category-best-products .best-products .best-products-heading a {
  color: #13aef2;
  margin-right: 0px;
  font-size: 13px;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap {
  width: 100%;
  display: table;
  vertical-align: top;
  margin-top: 30px;
  height: 200px;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap .product {
  display: table-cell;
  width: 25%;
  padding-left: 8px;
  padding-right: 8px;
  height: 150px;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap .product .product-info {
  width: 100%;
  border: 1px solid #ddd;
  padding: 20px;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap .product .product-info .product-rating {
  width: 100%;
  text-align: left;
  color: #ff9600;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap .product .product-info .product-image {
  margin-top: 30px;
  width: 100%;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap .product .product-info .detail-info p {
  margin-top: 45px;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap .product .product-info .detail-info .price-info {
  display: table;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap .product .product-info .detail-info .price-info .price {
  width: 55%;
  display: table-cell;
  font-size: 24px;
  color: #13aef2;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap .product .product-info .detail-info .price-info .per-item {
  width: 20%;
  display: table-cell;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap .product .product-info .detail-info .price-info .sale {
  display: table-cell;
  vertical-align: middle;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap .product .product-info .detail-info .price-info .sale .sale-info {
  width: 70px;
  height: 26px;
  border-radius: 13px;
  padding: 1px 6px;
  color: white;
  font-size: 17px;
  font-weight: bold;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap .product .product-info .detail-info .order {
  width: 100%;
  text-align: left;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap .product .product-info .detail-info .order i {
  color: #5cb23b;
}
.container .category-best-products-section .category-best-products .best-products .product-wrap .product .product-info .detail-info .stock {
  width: 100%;
  margin-top: 15px;
  text-align: left;
}
@media only screen and (min-width: 1400px) and (max-width: 1900px) {
  .container .category-best-products-section .category-best-products .best-products .product-wrap .product .product-info .product-image img {
    width: 100%;
  }
}
.container .recently-viewed-products .recently-products-heading {
  width: 100%;
  padding: 10px 0 10px 0;
  font-weight: bold;
  color: #4d4d50;
  font-size: 19px;
  text-align: left;
  border-bottom: 3px solid #13aef2;
}
.container .recently-viewed-products .recently-products-heading .glyphicon {
  width: 40px;
}
.container .recently-viewed-products .recently-products-heading a {
  color: #13aef2;
  margin-right: 0px;
  font-size: 13px;
}
.container .recently-viewed-products .recently-products-wrap {
  padding: 35px 0;
}
.container .recently-viewed-products .recently-products-wrap .product {
  padding-right: 8px;
  padding-left: 8px;
}
.container .recently-viewed-products .recently-products-wrap .product .product-info {
  width: 100%;
  border: 1px solid #ddd;
  padding: 20px;
}
.container .recently-viewed-products .recently-products-wrap .product .product-info .product-image {
  margin-top: 30px;
  width: 100%;
}
.container .recently-viewed-products .recently-products-wrap .product .product-info .detail-info p {
  margin-top: 45px;
}
.container .recently-viewed-products .recently-products-wrap .product .product-info .detail-info .price-info {
  display: table;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 16px;
}
.container .recently-viewed-products .recently-products-wrap .product .product-info .detail-info .price-info .price {
  width: 55%;
  display: table-cell;
  text-align: left;
  font-size: 20px;
  font-family: "HelveticalNeueLT MediumCond";
}
.container .recently-viewed-products .recently-products-wrap .product .product-info .detail-info .price-info .per-item {
  width: 20%;
  display: table-cell;
}
.container .recently-viewed-products .recently-products-wrap .product .product-info .detail-info .price-info .pre-price {
  display: table-cell;
  width: 55%;
  text-align: left;
  vertical-align: middle;
}
.container .recently-viewed-products .recently-products-wrap .product .product-info .detail-info .price-info .sale {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
.container .recently-viewed-products .recently-products-wrap .product .product-info .detail-info .price-info .sale .sale-info {
  width: 66px;
  height: 27px;
  border-radius: 13px;
  padding: 1px 6px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.container .recently-viewed-products .recently-products-wrap .product .product-info .detail-info .order {
  width: 100%;
  text-align: left;
}
.container .recently-viewed-products .recently-products-wrap .product .product-info .detail-info .order i {
  color: #5cb23b;
}
.container .recently-viewed-products .recently-products-wrap .product .product-info .detail-info .stock {
  width: 100%;
  margin-top: 15px;
  text-align: left;
}
@media (min-width: 1900px) {
  .container {
    width: 1548px;
  }
}
