@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Semibold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Semibold.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: 500;
}
/*@header-height:95px;
@header-md-height:80px;
@header-sm-height:65px;*/
html,
body {
  /*width: @screen-tablet;*/
  height: 100%;
  background-color: #fff;
  font-weight: 300;
  font-family: OpenSansBold;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1;
  font-weight: 300;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 39px;
}
h3 {
  font-size: 29px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 14px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-right: 6px;
  padding-left: 6px;
}
.padding-left-right {
  padding-left: 8px;
  padding-right: 8px;
}
.border-bottom-blue {
  border-bottom: solid 3px #2bb6ef;
}
.border-bottom-blue-2 {
  border-bottom: solid 2px #2bb6ef;
  text-align: left;
  height: 10px;
}
.top-bottom-space {
  padding-top: 10px;
  padding-bottom: 10px;
}
.border-gray {
  border: solid 1px #e3e5e6;
}
.border-gray-left-right {
  border-left: solid 1px #e3e5e6;
  border-right: solid 1px #e3e5e6;
}
.border-blue {
  border: solid 1px #2bb6ef;
}
.title-bar {
  text-align: left;
}
.title-bar .icon-class {
  width: 22px;
  height: 26px;
}
.header {
  height: 62px;
  position: relative;
}
.header .logo {
  position: absolute;
  top: 10px;
  left: 10px;
}
.header .nav-bar ul.topleft-info {
  list-style: none;
  float: left;
  margin-top: 10px;
}
.header .nav-bar ul.topleft-info li {
  display: inline-block;
  margin: 20px 20px 0 0;
  padding: 0;
  font-weight: 300;
}
.header .nav-bar ul.topleft-info li a {
  color: #8e8d8d;
  font-weight: bold;
}
.header .nav-bar ul.topleft-info li a:hover {
  text-decoration: none;
  outline: 0;
}
.header .nav-bar ul.topleft-info .btn-login a {
  color: #2bb6ef;
}
.header .nav-bar ul.topleft-info .btn-join {
  padding: 9px;
  with: 100px;
  height: 26px;
  border-radius: 13px;
  color: white;
  font-size: 12px;
  line-height: 0.5;
}
.header .nav-bar ul:first-child {
  padding-left: 150px;
}
.search {
  padding: 24px 0 0 100px;
  margin: 0;
}
.search .btn-group .btn:last-child {
  padding-left: 40px;
  padding-right: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #2bb6ef;
  color: white;
}
.search .btn-group .dropdown .btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #8e8d8d;
}
.search .request-product {
  background: transparent;
  border-radius: 1px;
  border-color: #2bb6ef;
  color: #8e8d8d;
}
.slider .main-slider.flexslider {
  margin: 20px -15px 50px;
  background: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.slider .main-slider.flexslider .slides li {
  position: relative;
}
.slider .main-slider.flexslider .slides li a {
  position: absolute;
  bottom: 10%;
  left: 47%;
  padding: 10px;
  with: 100px;
  height: 26px;
  border-radius: 13px;
  color: #2bb6ef;
  font-size: 12px;
  line-height: 0.5;
  border: 0px;
}
.slider .main-slider .flex-cation {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, 0, endColorstr=#4C000000, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, 0, endColorstr=#4C000000, 0);
  zoom: 1;
  bottom: 35px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  margin: 0;
  padding: 25px 25px 25px 30px;
  position: absolute;
  right: 0;
  width: 295px;
}
.slider .main-slider .flex-cation h3 {
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.slider .main-slider .flex-cation p {
  margin: 0 0 15px;
}
.slider .main-slider .flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f001';
}
.slider .main-slider .flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.category {
  display: inline-block;
  width: 270px;
}
.category .panel {
  box-shadow: 18px 20px 25px #ededed;
  text-align: left;
  padding-right: 15px;
}
.category .panel .panel-heading {
  padding: 4px 0px;
}
.category .panel .panel-heading .glyphicon {
  margin-right: 10px;
  color: #2bb6ef;
  font-size: 18px;
}
.category .panel .panel-heading strong {
  font-size: 18px;
  color: #8e8d8d;
}
.category .panel .panel-heading .see-all {
  color: #2bb6ef;
  margin-right: 0px;
  font-size: 13px;
}
.category .panel .panel-body {
  padding: 0px;
}
.category .panel .panel-body .list-group {
  margin-bottom: 0px;
}
.category .panel .panel-body .list-group .list-group-item {
  border: 0px;
  border-top: 1px solid #e3e5e6;
  padding: 5.5px 0px;
  color: #8e8d8d;
  font-size: 13px;
}
.category .panel .panel-body .list-group .list-group-item .glyphicon {
  width: 40px;
}
.category .panel .panel-body .list-group .list-group-item:first-child {
  border: 0px;
  border-radius: 0px;
  border-top: 3px solid #2bb6ef;
}
.category .panel .panel-body .list-group .list-group-item:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.show-more {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid #e3e5e6;
  text-align: center;
}
.show-more i {
  color: #2bb6ef;
  font-size: 12px;
}
.show-more:hover {
  cursor: pointer;
}
.see-all {
  color: #2bb6ef;
  margin-right: 6px;
  font-size: 13px;
}
.top-space {
  padding-top: 10px;
}
.star-bar {
  color: #ff9600;
  text-align: left;
}
.padding-15 {
  padding: 15px;
}
.product:hover {
  border: 1px solid #2bb6ef;
  box-shadow: 0px 0px 5px #2bb6ef;
  cursor: pointer;
}
.product-data {
  text-align: center;
}
.product-data .product-img {
  with: 180px;
  height: 122px;
}
.product-data .detail-data {
  text-align: left;
  padding-left: 20px;
}
.product-data .product-title {
  font-size: 12px;
  font-weight: bold;
}
.product-data .product-price {
  font-size: 15px;
  color: #2bb6ef;
}
.product-data .product-item {
  color: #8e8d8d;
}
.product-data .product-label {
  background-color: #ff9600;
  border-color: #faebcc;
  width: 70px;
  border-radius: 5px;
  color: white;
  height: 27px;
}
.product-data .m-order {
  font-size: 11px;
  color: #8e8d8d;
  text-align: left;
  padding-left: 20px;
}
.product-data .stock-item {
  font-size: 11px;
  color: #8e8d8d;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.sub-menu {
  font-size: 18px;
}
.sub-menu-italic {
  font-size: 16px;
  font-style: italic;
}
.best-selling-products {
  margin-left: 300px;
}
.recently-viewed-products .product-title {
  font-size: 10px;
}
.recently-viewed-products .product-price {
  font-size: 14px;
  color: #8e8d8d;
}
.recently-viewed-products .product-low-price {
  font-size: 11px;
  color: #8e8d8d;
}
.featured-products .product-title {
  font-size: 10px;
}
.featured-products .product-price {
  font-size: 14px;
  color: #8e8d8d;
}
.featured-products .product-low-price {
  font-size: 11px;
  color: #8e8d8d;
}
.deals .deals-bar {
  border-bottom: solid 1px #e3e5e6;
  text-align: left;
  height: 30px;
}
.deals .product-img {
  with: 170px;
  height: 115px;
}
.deals .product-title {
  font-size: 10px;
}
.deals .product-price {
  font-size: 14px;
  color: #8e8d8d;
}
.deals .product-low-price {
  font-size: 11px;
  color: #8e8d8d;
}
.deals .product-data:hover {
  cursor: pointer;
}
.deals .product-data:hover .product-title {
  color: #ff9600;
}
.recently-added-products .detail-data {
  text-align: center;
  padding-bottom: 10px;
  margin-left: -20px;
}
.recently-added-products .detail-data .request-label {
  background-color: #2bb6ef;
  border-color: #faebcc;
  /*width: 90px;*/
  border-radius: 13.5px;
  color: white;
  height: 27px;
  padding: 5px 25px 5px 25px;
}
.recently-added-products .product-title {
  font-size: 10px;
}
.recently-added-products .product-price {
  font-size: 14px;
  color: #8e8d8d;
}
.recently-added-products .product-low-price {
  font-size: 11px;
  color: #8e8d8d;
}
.featured-suppliers {
  text-align: center;
}
.featured-suppliers .deals-bar {
  border: 0px;
}
.featured-suppliers .product-data {
  padding: 0px;
}
.featured-suppliers .m-order {
  font-size: 12px;
  color: #8e8d8d;
  padding-left: 0px;
  text-align: center;
}
.featured-suppliers .detail-data {
  padding: 0px;
  text-align: center;
}
.featured-suppliers .star-bar {
  text-align: center;
}
.featured-suppliers .stock-item {
  font-size: 15px;
  padding: 0px;
  text-align: center;
}
.service {
  width: 100%;
  display: table;
  padding: 10px 10px 20px 10px;
  font-family: OpenSansBold;
}
.service .service-img {
  display: table-cell;
  width: 25%;
  padding-top: 10px;
  padding-left: 10px;
}
.service .service-content {
  display: table-cell;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
}
.service .service-content h5 {
  margin-bottom: 10px;
  color: #8e8d8d;
}
.service .service-content p {
  font-size: 10px;
  color: #8e8d8d;
}
.currency-converter {
  display: block;
}
.currency-converter .converter {
  margin-top: 40px;
}
.currency-converter .converter div {
  display: inline-block;
  width: 18%;
}
.currency-converter .converter div:first-child {
  width: 40%;
  text-align: right;
}
.currency-converter .converter div:first-child input {
  width: 130px;
  height: 28px;
  border: 2px solid #86b943;
  border-radius: 2px;
}
.currency-converter .converter div:first-child input:focus {
  box-shadow: 0px,0px,2px,#86b943;
}
.currency-converter .converter div:first-child button {
  height: 28px;
  margin-left: 2px;
  vertical-align: top;
  border-radius: 2px;
}
.currency-converter .converter div:last-child {
  width: 40%;
  text-align: left;
}
.currency-converter .converter div:last-child input {
  width: 130px;
  height: 28px;
  border: 2px solid #ff9600;
  border-radius: 2px;
}
.currency-converter .converter div:last-child input:focus {
  box-shadow: 0px, 0px, 2px, #ff9600;
}
.currency-converter .converter div:last-child button {
  height: 28px;
  margin-left: 2px;
  vertical-align: top;
  border-radius: 2px;
}
.currency-converter .eur {
  font-size: 18px;
  color: #2bb6ef;
  margin-top: 35px;
}
.currency-converter .calc-eur {
  font-size: 14px;
  color: #8e8d8d;
  margin-top: 20px;
}
.currency-converter .market-rate {
  font-size: 10px;
  color: #8e8d8d;
  margin-top: 6px;
}
.buying-leads ul {
  padding-left: 5px;
  padding-right: 5px;
  list-style-type: none;
}
.buying-leads ul li {
  line-height: 30px;
  height: 30px;
  border-bottom: 1px solid #e3e5e6;
  font-size: 12px;
  color: #8e8d8d;
}
.buying-leads ul li:last-child {
  border-bottom: 0px;
}
.buying-leads i {
  color: #ff9600;
}
.vendors {
  width: 100%;
  text-align: center;
  margin-top: 12px;
  display: table;
}
.vendors .vendor {
  width: 20%;
  display: table-cell;
}
.backcolor-blue {
  background-color: #2bb6ef;
  color: white;
}
.we_accept {
  margin-top: 40px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 19px;
  font-color: #afafb0;
  text-align: center;
}
.pay_com {
  margin-bottom: 35px;
}
.pay_com img {
  margin-right: 20px;
}
.footer .subscrible {
  margin-top: 50px;
  font-size: 19px;
  font-weight: bold;
}
.footer .sub_title {
  margin-top: 25px;
  font-size: 15px;
}
.footer .submit {
  margin-top: 25px;
  margin-bottom: 60px;
}
.footer .submit .submit_form .submit_input {
  border-radius: 3px;
  width: 300px;
  height: 35px;
  margin-right: 5px;
}
.footer .submit .submit_form .btn-md {
  background-color: #53ccff;
  font-size: 15px;
  border-radius: 3px;
}
.footer .submit .submit_form .btn-md:hover {
  border-color: #13aef2;
}
.footer .about_site {
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
  text-align: left;
}
.footer .about_site .topic {
  margin-left: 60px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer .about_site .topic span {
  margin-left: 10px;
}
.footer .about_site .list {
  padding-left: 110px;
}
.footer .about_site .list a {
  color: white;
  font-size: 13px;
}
.footer .about_site .list .reserved_icon {
  margin-left: 75px;
}
.footer .about_site .list .reserved_icon i {
  margin-left: 40px;
  font-size: 20px;
}
.footer .about_site .list .reserved_icon i:first-child {
  margin-left: 0px;
}
.footer .about_site .reserved {
  font-size: 13px;
  margin-top: 35px;
  margin-left: 75px;
}
.footer .about_site .line_up {
  height: 20px;
  width: 62%;
  margin-left: 25%;
  border-bottom: 1px solid white;
}
.footer .about_site .line_down {
  height: 20px;
}
.footer .about_site .reserved_icon {
  margin-left: 75px;
}
.footer .about_site .reserved_icon i {
  margin-left: 15%;
  font-size: 20px;
}
.footer .about_site .reserved_icon i:first-child {
  margin-left: 0%;
}
