@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Semibold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Semibold.ttf');
  font-weight: 500;
}
