// out: ../css/style.css, sourcemap: false, compress: false

@import "variables";

@screen-tablet: 1200px;
@color-blue: #13aef2;
@color-yellow: #ff9600;

@main-font: "OpenSans Semibold";
@main-title-font: "OpenSans-Bold";
@main-font-color: #4d4d50;

@product-price-font:"HelveticalNeueLT MediumCond";

@main-border-color:#ddd;
@content-color: #8e8d8d;
@main-font-size: 14px;

html, body {
    height: 100%;
    background-color: #fff;
    font-weight: 300;
    //font-family: "SourceSansPro", sans-serif;
    font-family: @main-title-font;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    line-height: 1;
    font-weight: 300;
}
.container{ 
	padding-left: 0px;
	padding-right: 0px;
	//border:1px solid red;

	// header section start --------------------
	header{
		.top{
			padding:17px 0;
			margin:0;
			border-bottom: 5px solid @color-blue;
			background-image: url(../images/logo.png);
			background-repeat: no-repeat;
			background-position: left 65%;


			.row{
				margin-bottom:0;
				height: 37px;
				padding-left: 140px;
			}
		ul.topleft-info{
				list-style: none;
				float: left;
				font-size: @main-font-size;

				li{
					display: inline-block;;
					margin:20px 20px 0 0;
					padding:0;
					font-weight: 300;

					a {
						color: #414141;
					}

					a:hover{
						text-decoration: none;
						outline: 0;
					}
				}
				.btn-login{
					a{
						color: @color-blue;
					}
				}

				.btn-join{
					padding:10px;
					with:100px;
					height: 26px;
					border-radius: 13px;	
					color:white;
					font-size: 12px;
					line-height: 0.5;			
				}
			}
		}

		.search{

			padding:24px 0 0 100px;
			margin:0;


			.btn-group{
				.btn:last-child{
					padding-left: 40px;
					padding-right: 40px;
					border-top-right-radius: 3px;
	   				border-bottom-right-radius: 3px;
	   				background-color: @color-blue;
	   				color: white;
				}

				.dropdown .btn{
					border-top-left-radius: 3px;
	   				border-bottom-left-radius: 3px;
				}

			}

			.request-product{
				background: transparent;
				border-radius: 1px;
				border-color: @color-blue;
			}

		}
	}

	//  banner section start--------------
	.banner{
		.main-slider.flexslider{

				margin: 40px 0 50px; 
				background: transparent; 
				border: none;
				-webkit-border-radius: 0;
				-moz-border-radius: 0; 
				-o-border-radius: 0;
				border-radius: 0; 
				-webkit-box-shadow: none;
				-moz-box-shadow: none; 
				-o-box-shadow: none;
				box-shadow: none;
				.slides{
					li{
						position: relative;
						a{
							position: absolute;
							bottom:5%;
							left: 47%;
							padding:10px;
							with:100px;
							height: 26px;
							border-radius: 13px;	
							color:@color-blue;
							font-size: 12px;
							line-height: 0.5;
						}
					}
				}
			}
		.main-slider{

			.flex-cation{
				background:none; 
				-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); 
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); 
				zoom: 1;
				bottom: 35px;
				background-color: rgba(0, 0, 0, 0.6);
				color: #fff;
				margin: 0; 
				padding: 25px 25px 25px 30px; 
				position: absolute; 
				right: 0;
				width: 295px;

				h3{

					color: #fff; 
					letter-spacing: 1px; 
					margin-bottom: 8px; 
					text-transform: uppercase;
				}

				p{
					margin: 0 0 15px;
				}
			}

			.flex-direction-nav{
				a:before{
					font-family: "flexslider-icon"; 
					font-size: 20px; 
					display: inline-block; 
					content: '\f001'; 					
				}
				a.flex-next:before{

					content: '\f002'; 
				}
			}

		}
	}
	
	// category & Best selling products section start-------------
	.category-best-products-section{

		margin-top:-10px;

		.category-best-products{
			display: block;
			
			.category{

				display: inline-block;	
				width:22.23%;

				.panel{

					box-shadow: 18px 20px 25px #ededed;
					text-align: left;
					padding-right:15px;
					
		 			.panel-heading{

		 				padding: 10px 0px;

		 				.glyphicon{

			 				margin-right:10px;
			 				color: @color-blue;
			 				font-size: 18px;
			 				
		 				}

		 				strong{
			 					
			 					font-size: 18px;
			 					color:#5e5d5d;	
			 				}

		 				.see-all{

			 				color: @color-blue;
			 				margin-right: 0px;
			 				font-size: 13px;
		 				}
		 			}
					.panel-body {
						
						padding:0px; 

					 	.list-group {
					 		
					 		margin-bottom:0px;
					 		.list-group-item{
					 			
					 			border:0px;
					 			border-top:1px solid @main-border-color;
					 			padding:15px 15px;
					 			color:#5e5d5d;
					 			.glyphicon{

					 				width: 40px;
				 				}

					 		}

					 		.list-group-item:first-child{
					 			
					 			border:0px;
					 			border-radius: 0px;
					 			border-top:3px solid @color-blue;

					 		}
					 		
					 		.list-group-item:hover{
					 			
					 			text-decoration: none;
					 			background-color: rgb(245, 245, 245);
					 		}
					 	}
					}

				}
			}

			.best-products{

				display: inline-block table;
				width:75%;
				vertical-align: top;

				.best-products-heading{

					width: 100%;
					padding:10px 0 10px 0;
					font-weight: bold;
					color: @main-font-color;
					font-size: 19px;
					text-align: left;
					border-bottom: 3px solid @color-blue;

					.glyphicon{

						width:35px;
					}

					a{
						color: @color-blue;
		 				margin-right: 0px;
		 				font-size: 13px;
					}
				}

				.product-wrap{

					width: 100%;
					display: table;
					vertical-align: top;
					margin-top:30px;
					height: 200px;

					.product{
						display: table-cell;
						width: 25%;
						padding-left:8px;
						padding-right: 8px;
						height: 150px;

						.product-info{
							width:100%;
							border:1px solid @main-border-color;
							padding:20px;
							
							.product-rating{

								width: 100%;
								text-align: left;
								color: @color-yellow;
							}

							.product-image{
								margin-top: 30px;
								width: 100%;
							}

							.detail-info{

								p{
									margin-top: 45px;
								}
								.price-info{
									display: table;
									width: 100%;
									margin-top:25px;
									margin-bottom: 25px;
									color: @content-color;

									.price{

										width:55%;
										display: table-cell;
										font-size: 24px;
										color:@color-blue;
									}
									.per-item{
										width:20%;
										display: table-cell;
										
									}
									.sale{
										display: table-cell;
										vertical-align: middle;

										.sale-info{

											width:70px;
											height: 26px;
											border-radius: 13px;
											padding:1px 6px;	
											color:white;
											font-size: 17px;
											font-weight: bold;
										}
									}
								}

								.order {
									width: 100%;
									text-align: left;
									color: @content-color;

									i{
										color:#5cb23b;
									}
								}

								.stock {

									width: 100%;
									margin-top: 15px;
									text-align: left;
									color: @content-color;
								}

							}


						}
						.product-info:hover{

							border:1px solid @color-blue;
							box-shadow: 0px 0px 5px @color-blue;
							cursor: pointer;
						}
						
					}
				}

			}
		}
	}

	// <!---category & Best selling products section end------>
	// <!---Recently Viewed Products start---->

	.recently-viewed-products{

		font-family: @main-title-font;

		.recently-products-heading{
			width: 100%;
			padding:10px 0 10px 0;
			font-weight: bold;
			color: @main-font-color;
			font-size: 19px;
			text-align: left;
			border-bottom: 3px solid @color-blue;

			.glyphicon{

					width:40px;
					img{
						width: 22px;
						height: 100%;
					}
				}

			a{
				color: @color-blue;
 				margin-right: 0px;
 				font-size: 13px;
			}
		}
		.recently-products-wrap{

			padding:35px 0;

			.product{

				padding-right: 8px;
				padding-left: 8px;
				
				.product-info{
					
					width:100%;
					border:1px solid @main-border-color;
					padding:20px;

					.product-image{
						margin-top: 30px;
						width: 100%;
					}
					.detail-info{


						p{
							margin-top: 45px;
							line-height: 20px;
						}
						.price-info{
							display: table;
							width: 100%;
							margin-top:8px;
							margin-bottom: 10px;

							.price{

								
								display: table-cell;
								text-align: left;
								font-size: 20px;
								width: auto;
							}
							.per-item{
								width:20%;
								display: table-cell;
								text-align: left;
								color: @content-color;
								
							}

							.pre-price{
								display: table-cell;
								width: 40%;
								text-align: left;
								vertical-align: middle;
								text-decoration: line-through;
								color: @content-color;

							}

							.sale{
								display: table-cell;
								text-align: right;
								vertical-align: middle;


								.sale-info{
									width:66px;
									height: 27px;
									border-radius: 13px;
									padding:1px 6px;	
									color:white;
									font-size: 14px;
									font-weight: bold;
								}
							}
							
						}

						.order {
							width: 100%;
							text-align: left;
							color: @content-color;

							i{
								color:#5cb23b;
							}
						}

						.stock {

							width: 100%;
							margin-top: 5px;
							text-align: left;
							color: @content-color;
						}

					}

				}

				.product-info:hover{

					border:1px solid @color-blue;
					box-shadow: 0px 0px 5px @color-blue;
					cursor: pointer;
				}
			}


		}
	}

	// <!---Recently Viewed Products end---->
	// <!--- Bulk Deals & Clearane Deals ----->
	.bulk-clearance{

		.bulk-deals-wrap{

			padding-left: 0px;
			padding-right: 8px;

			.bulk-deals{
				width: 100%;
				border:1px solid @color-blue;
			}
		}

		.clearance-deals-wrap{

			padding-left: 8px;
			padding-right: 0px;		
			.clearance-deals{
				width: 100%;
				border:1px solid @color-blue;
			}

		}

	}

	@media only screen and (min-width: 1400px) and (max-width: 1900px){

		header{

			.search{

				padding:18px 0 0 75px;
				margin:0;

			}
		}
		.banner{
			.main-slider.flexslider{

					margin: 15px 0 25px; 
			}
	
		}

		.category-best-products-section{

			.category-best-products{
				
				.category{

					.panel{

						padding-right:12px;
						
			 			.panel-heading{

			 				padding: 8px 0px;

			 				.glyphicon{

				 				margin-right:8px;
				 				font-size: 14px;
				 				
			 				}

			 				strong{
				 					
				 					font-size: 14px;
				 				}

			 			}
						.panel-body {
							
						 	.list-group {
						 		
						 		font-size: 12px;
						 		.list-group-item{
						 			
						 			padding:11px 0px;
						 			.glyphicon{

						 				width: 30px;
					 				}

						 		}
						 	}
						}

					}
				}

				.best-products{

					.best-products-heading{

						width: 100%;
						padding:8px 0 8px 0;
						font-size: 15px;

						.glyphicon{

							width:26px;
						}

					}

					.product-wrap{

						margin-top:22px;

						.product{
							padding-left: 6px;
							padding-right: 6px;

							.product-info{
								
								padding:8px;

								.product-image{

									margin-top: 35px;
									img{

										width: 100%;
									}
								}

								.detail-info{

									p{
										margin-top: 30px;
										font-size: 12px;
										line-height: 18px;
									}
									.price-info{
										margin-top: 18px;
										margin-bottom: 18px;

										.price{

											font-size: 18px;
										}
										.sale{

											.sale-info{

												width:52px;
												height: 20px;
												border-radius: 10px;
												padding:0px 4px;	
												font-size: 12px;
											}
										}
									}

									.per-item{

										font-size:10px;
										font-style: italic;
									}

									.order{
										font-size: 10px;
									}

									.stock {

										margin-top: 5px;
										font-size: 10px;
									}

								}


							}
							
						}
					}

				}
			}
		}

		// <!---Recently Viewed Products start---->

		.recently-viewed-products{

			.recently-products-heading{
				padding:7.5px 0 7.5px 0;
				font-size: 14px;

				.glyphicon{

						width:30px;
					}

			}
			.recently-products-wrap{

				padding:26px 0;

				.product{

					padding-right: 6px;
					padding-left: 6px;
					
					.product-info{
						
						padding:9px;

						.product-image{
							margin-top: 22px;

						}
						.detail-info{

							p{
								margin-top: 25px;
								line-height: 15px;
								font-size: 10px;
							}
							.price-info{

								margin-top:6px;
								margin-bottom: 7.5px;

								.price{
									
									font-size: 15px;
								}

								.sale{

									.sale-info{
										width:50px;
										height: 20px;
										border-radius: 10px;
										padding:1px 4px;	
										font-size: 10px;
									}
								}
								
							}
							.per-item{
								font-size: 10px;
								font-style: italic;
							}

							.order{
								font-size: 10px;
							}

							.stock {

								margin-top: 4px;
								font-size: 10px;
							}

						}

					}
				}


			}
		}

		// <!---Recently Viewed Products end---->
		// <!--- Bulk Deals & Clearane Deals ----->
		.bulk-clearance{

			.bulk-deals-wrap{

				padding-right: 6px;

				.bulk-deals{

				}
			}

			.clearance-deals-wrap{

				padding-left: 6px;
				.clearance-deals{
					
				}

			}

		}
	}

}
@media (min-width: 1900px) {
  .container {
    width: 1548px;
  }
}
