// out: ../css/style.css, sourcemap: false, compress: false

@import "variables";

@screen-tablet: 1200px;
@color-blue: #13aef2;
@main-font: "OpenSans Semibold";
@main-font-size: 12px;

html, body {
    height: 100%;
    background-color: #fff;
    font-weight: 300;
    //font-family: "SourceSansPro", sans-serif;
    font-family: @main-font;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    line-height: 1;
    font-weight: 300;
}
.container{ 
	padding-left: 0px;
	padding-right: 0px;
	//border:1px solid red;

	// header section start --------------------
	header{
		.top{
			padding:15px 0;
			margin:0;
			border-bottom: 5px solid @color-blue;
			background-image: url(../images/logo.png);
			background-repeat: no-repeat;
			background-position: left 70%;


			.row{
				margin-bottom:0;
				height: 37px;
				padding-left: 140px;
			}
		ul.topleft-info{
				list-style: none;
				float: left;
				font-size: @main-font-size;

				li{
					display: inline-block;;
					margin:20px 20px 0 0;
					padding:0;
					font-weight: 300;


					a {
						color: #414141;
					}

					a:hover{
						text-decoration: none;
						outline: 0;
					}
				}
				.btn-login{
					a{
						color: @color-blue;
					}
				}

				.btn-join{
					padding:10px;
					with:100px;
					height: 26px;
					border-radius: 13px;	
					color:white;
					font-size: 12px;
					line-height: 0.5;			
				}
			}
		}

		.search{

			padding:18px 0 0 77px;
			margin:0;

			.btn-group{
				.btn:last-child{
					padding-left: 40px;
					padding-right: 40px;
					border-top-right-radius: 3px;
	   				border-bottom-right-radius: 3px;
	   				background-color: @color-blue;
	   				color: white;
				}

				.dropdown .btn{
					border-top-left-radius: 3px;
	   				border-bottom-left-radius: 3px;
				}

			}

			.request-product{
				background: transparent;
				border-radius: 1px;
				border-color: @color-blue;
			}

		}
	}

	//  banner section start--------------
	.banner{
		.main-slider.flexslider{

				margin: 40px 0 50px; 
				background: transparent; 
				border: none;
				-webkit-border-radius: 0;
				-moz-border-radius: 0; 
				-o-border-radius: 0;
				border-radius: 0; 
				-webkit-box-shadow: none;
				-moz-box-shadow: none; 
				-o-box-shadow: none;
				box-shadow: none;
				.slides{
					li{
						position: relative;
						a{
							position: absolute;
							bottom:5%;
							left: 47%;
							padding:10px;
							with:100px;
							height: 26px;
							border-radius: 13px;	
							color:@color-blue;
							font-size: 12px;
							line-height: 0.5;
						}
					}
				}
			}
		.main-slider{

			.flex-cation{
				background:none; 
				-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); 
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); 
				zoom: 1;
				bottom: 35px;
				background-color: rgba(0, 0, 0, 0.6);
				color: #fff;
				margin: 0; 
				padding: 25px 25px 25px 30px; 
				position: absolute; 
				right: 0;
				width: 295px;

				h3{

					color: #fff; 
					letter-spacing: 1px; 
					margin-bottom: 8px; 
					text-transform: uppercase;
				}

				p{
					margin: 0 0 15px;
				}
			}

			.flex-direction-nav{
				a:before{
					font-family: "flexslider-icon"; 
					font-size: 20px; 
					display: inline-block; 
					content: '\f001'; 					
				}
				a.flex-next:before{

					content: '\f002'; 
				}
			}

		}
	}
	
	// category & Best selling products section start-------------
	.category-best-products-section{

		margin-top:-10px;

		.category-best-products{
			display: block;
			
			.category{

				display: inline-block;	
				width:22.23%;

				.panel{

					box-shadow: 18px 20px 25px #ededed;
					text-align: left;
					padding-right:15px;
					
		 			.panel-heading{

		 				padding: 10px 0px;

		 				.glyphicon{

			 				margin-right:10px;
			 				color: @color-blue;
			 				font-size: 18px;
			 				
		 				}

		 				strong{
			 					
			 					font-size: 18px;
			 					color:#5e5d5d;	
			 				}

		 				.see-all{

			 				color: @color-blue;
			 				margin-right: 0px;
			 				font-size: 13px;
		 				}
		 			}
					.panel-body {
						
						padding:0px; 

					 	.list-group {
					 		
					 		margin-bottom:0px;
					 		.list-group-item{
					 			
					 			border:0px;
					 			border-top:1px solid #ddd;
					 			padding-left:0px;
					 			padding-right: 0px;
					 			color:#5e5d5d;
					 			.glyphicon{

					 				width: 40px;
				 				}

					 		}

					 		.list-group-item:first-child{
					 			
					 			border:0px;
					 			border-radius: 0px;
					 			border-top:3px solid @color-blue;

					 		}
					 		
					 		.list-group-item:hover{
					 			
					 			text-decoration: none;
					 			background-color: rgb(245, 245, 245);
					 		}
					 	}
					}

				}
			}

			.best-products{

				display: inline-block;
				width:18.2%;
				vertical-align: top;
				border:1px solid red;

			}
		}
	}
}
@media (min-width: 1900px) {
  .container {
    width: 1548px;
  }
}
